<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>TO DO LIST</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"/>

    <!-- Funciona para pestañas emergentes -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet"href="{{ url_for('static', filename='css/style.css') }}"/>
  </head>
  <body>
    <div class="container">
      <h1>TO DO LIST</h1>
      <form method="post">
        <input type="text" name="task_name" placeholder="Add a task" />
        <input
          type="text"
          name="task_description"
          placeholder="Description..."
          required
        />
        <button type="submit">Add</button>
      </form>

      <table>
        <tr>
          <th>Nombre Tarea</th>
          <th>Descripción Tarea</th>
          <th>Acciones</th>
        </tr>
        <!-- Se situa fuera de las etiquetas -->
        {% for task in tasks %}
        <tr>
          <td>{{ task['name'] }}</td>
          <td>{{ task['description'] }}</td>
          <!-- Iconos de la libreria Fontawesome -->
          <td>
            <a href="#" class="update-task"><i class="fas fa-edit"></i></a>
            <!-- Se añade  la clase delete-task para que funcione el sweetalert2 porque se ha declarado de tal manera en el Javascript -->
            <a href="#" class="delete-task"><i class="fas fa-trash-alt"></i></a>
          </td>
        </tr>
        {% endfor %}
      </table>
      <script src="{{ url_for('static', filename='js/update-task.js') }}"></script>
      <script src="{{ url_for('static', filename='js/delete-task.js') }}"></script>
    </div>
  </body>
</html>
